{% block title %}
<b>Login</b>
{% endblock %}

{% block content %}
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="loginButton">Login</button>
        <p><a href="/signup">Create account</a></p>
    </form>
{% endblock %}