{% if user.is_authenticated %}
    {% block title %}
    <b>{{ currUser }}</b>
    {% endblock %}
    <p>Your favorite language is <b>{{ favLanguage }}</b></p>
    <p><a href="/logout">Logout</a></p>
{% else %}
    <p><a href="/login">Login</a> to see your favorite language!</p>
{% endif %}