{% if user.is_authenticated %}
    {% block title %}
    <b>{{ currUser }}</b>
    {% endblock %}
    <form method="POST" action="/">
        {% csrf_token %}
        <label for="favLanguageBox">Enter your favorite language:</label>
        <input type="text" id="favLanguageBox" name="favLanguageBox">
        <input type="submit" value="Submit">
    </form>
    <p><a href="/logout">Logout</a></p>
{% else %}
    <p><a href="/login">Login</a> to see your favorite language!</p>
{% endif %}